{% extends 'AnimeApp/base.html' %}
{% block content %}
<div class="container">
  <h1>Anime Trending</h1>
  <div class="row">
    {% for anime in animes %}
    <div class="col-md-3 mb-4">
      <div class="card">
        {% if anime.coverImage.extraLarge %}
        {% if anime.id %}
        <a href="{% url 'anime_detail' mal_id=anime.id %}">
          <img src="{{ anime.coverImage.extraLarge }}" alt="{{ anime.title.romaji }} Cover Image">
        </a>
        {% else %}
        <img src="{{ anime.coverImage.extraLarge }}" alt="{{ anime.title.romaji }} Cover Image">
        {% endif %}
        {% else %}
        <p>No cover image available.</p>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ anime.title.romaji }}</h5>
          <!-- You can add more details here if needed -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}