{% extends 'AnimeApp/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div>
    <h1>{{ character.name.full }}</h1>
    {% if character.image.large %}
    <img class="detail-img-top" id="characterImage" src="{{ character.image.large }}" alt="{{ character.name.full }}">
    <br>
    <button id="downloadButton" class="btn btn-danger mt-3">Download Image</button>
    {% endif %}
    <p><strong>Native Name:</strong> {{ character.name.native }}</p>
    <p><strong>Age:</strong> {{ character.age }}</p>
    <p><strong>Gender:</strong> {{ character.gender }}</p>
    <p><strong>Date of Birth:</strong>
      {% if character.dateOfBirth.year %}
      {{ character.dateOfBirth.year }}-{% endif %}
      {% if character.dateOfBirth.month %}
      {{ character.dateOfBirth.month }}-{% endif %}
      {% if character.dateOfBirth.day %}
      {{ character.dateOfBirth.day }}{% endif %}
    </p>
    <p><strong>Blood Type:</strong> {{ character.bloodType }}</p>
  </div>
</div>

<script>
  document.getElementById('downloadButton').addEventListener('click', function() {
    var image = document.getElementById('characterImage');
    var imageUrl = image.src;
    var link = document.createElement('a');
    link.href = imageUrl;
    link.download = '{{ character.name.full }}.jpg';
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  });
</script>
{% endblock %}
